<!DOCTYPE html>
<html>
    <head>
        <title>ADD PLUSES</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">        
        <link rel="stylesheet" href="../../build/style/home.css">
        <link rel="stylesheet" href="../../build/style/header.css">
        <!-- <link rel="import" href="../templates/menu/header.html"> -->
    </head>
    <body>

        <!-- Header Component -->
        <nav class="navbar navbar-expand-md px-5">
            <a href="#" class="navbar-brand"><img src="../../assets/websiteLogo.png" alt="websiteLogo"></a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
    
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav ml-auto">
                    <a href="#" class="nav-item nav-link">WHO WE ARE</a>
                    <a href="#" class="nav-item nav-link">WHY US</a>
                    <a href="#" class="nav-item nav-link">WHAT WE DO</a>
                    <a href="#" class="nav-item nav-link">OUR WORK</a>
                    <a href="#" class="nav-item nav-link">CAREERS</a>
                    <a href="#" class="nav-item nav-link">GET IN TOUCH</a>
                </div>
            </div>
        </nav>
        <!-- End Of Header Component -->

        <!-- Home Content -->

        <!-- Main Image -->
        <div class="mainContent">
            <img src="../../assets/mainImage.png" alt="mainImage" style="max-width: 100%">
            <h1 class="top-left">WELCOME TO</h1>
            <h1 class="website-name">ADD PLUSES</h1>
            <h1 class="top-center">A Fully Integrated Creative</h1>
            <h1 class="bottom-center">Technology House</h1>
            <button class="mainImage-button">START YOUR PROJECT NOW</button>
        </div>
        <!-- End Of Main Image-->

        <!-- Add Pluses In Numbers Section-->
        <div class="websiteNumbers">
            <div class="row m-0">
                <div class="col-md-2">
                    <a href="#">
                        <img class="websiteNumbersImage" src="../../assets/addPlusesNumbers.png" alt="addPlusesNumbers" style="max-width: 100%">
                    </a>
                </div>
            </div>
        </div>
        <!-- End Of Add Pluses In Numbers Section-->

        <!-- Add Pluses Services Section-->
        <div class="websiteServices">
            <div class="row m-0">
                <div class="col-md-2">
                    <a href="#">
                        <img class="websiteServicesImage" src="../../assets/addPlusesServices.png" alt="addPlusesServices" style="max-width: 100%">
                    </a>
                </div>
                <div class="col-md-10">
                    <div class="row">
                        <div class="col-md-3 text-center pr-0">
                            <img src="../../assets/web app.svg" alt="web application" style="max-width: 100%; width: fit-content; padding-top: 5rem;">
                        </div>
                        <div class="col-md-2" style="padding-top:7rem; padding-left: 0">
                            <h5>WEB APPLICATION DEVELOPMENT</h5>
                        </div>
                        <div class="col-md-3 text-center pr-0">
                                <img src="../../assets/ecom.svg" alt="Ecommerce" style="max-width: 100%; width: fit-content; padding-top: 5rem;">
                        </div>
                        <div class="col-md-3" style="padding-top:7rem; padding-left: 0">
                            <h5>E-COMMERCE</h5>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3 text-center pr-0">
                            <img src="../../assets/ux.svg" alt="user experience" style="max-width: 100%; width: fit-content; padding-top: 1rem;">
                        </div>
                        <div class="col-md-2" style="padding-top:3.5rem; padding-left: 0">
                            <h5>USER EXPERIENCE DEVELOPMENT</h5>
                        </div>
                        <div class="col-md-3 text-center pr-0">
                                <img src="../../assets/mob app.svg" alt="mobile application" style="max-width: 100%; width: fit-content; padding-top: 1rem;">
                        </div>
                        <div class="col-md-3" style="padding-top:3.5rem; padding-left: 0">
                            <h5>MOBILE APPLICATION DEVELOPMENT</h5>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3 text-center pr-0">
                            <img src="../../assets/branding.svg" alt="branding" style="max-width: 100%; width: fit-content; padding-top: 1rem;">
                        </div>
                        <div class="col-md-2" style="padding-top:3.5rem; padding-left: 0">
                            <h5>BRANDING</h5>
                        </div>
                        <div class="col-md-3 text-center pr-0">
                                <img src="../../assets/business process.svg" alt="business process" style="max-width: 100%; width: fit-content; padding-top: 1rem;">
                        </div>
                        <div class="col-md-3" style="padding-top:3.5rem; padding-left: 0">
                            <h5>BUSINESS PROCESS AUTOMATION</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-7">&nbsp;</div>
                        <div class="col-md-4 pt-4 pb-5">
                            <a class="all_services" href="">ALL SERVICES</a>
                        </div>
                    </div>    
                </div>
            </div>
        </div>
        <!-- End Of Add Pluses Services Section-->

        <!-- Add Pluses Work Section -->
        <div class="websiteWork">
            <img class="ourWorkBg" src="../../assets/ourWorkBg.png" alt="our work background" style="max-width: 100%">
            <a href="#">
                <img class="websiteWorkImage" src="../../assets/ourWork.png" alt="addPlusesWork" style="max-width: 100%">
            </a>
        </div>
        <!-- End Of Add Pluses Work Section -->
        <hr style="margin: 0;">
        <!-- Add Pluses Work Section -->
        <div class="haveAnIdea">
            <img class="haveIdeaBg" src="../../assets/ideaBg.png" alt="have an idea background" style="max-width: 100%">
            <h1 style="font-weight: 300">HAVE AN IDEA? <bold style="font-weight: 700">LET'S TALK ABOUT IT.</bold></h1>
            <button class="startProject-button">START YOUR PROJECT NOW</button>

        </div>
        <!-- End Of Add Pluses Work Section -->
                
        <!-- End Of Home Content -->
    </body>
</html>