<!DOCTYPE html>
<html>
    <head>
        <title>ADD PLUSES</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">        
        <link rel="stylesheet" href="../../../build/style/header.css">
    </head>
    <body>
        <nav class="navbar navbar-expand-md">
            <a href="#" class="navbar-brand"><img src="../../../assets/websiteLogo.png" alt="websiteLogo"></a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
    
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav ml-auto">
                    <a href="#" class="nav-item nav-link">WHO WE ARE</a>
                    <a href="#" class="nav-item nav-link">WHY US</a>
                    <a href="#" class="nav-item nav-link">WHAT WE DO</a>
                    <a href="#" class="nav-item nav-link">OUR WORK</a>
                    <a href="#" class="nav-item nav-link">CAREERS</a>
                    <a href="#" class="nav-item nav-link">GET IN TOUCH</a>
                </div>
            </div>
        </nav>
    </body>
</html>