@import "../mainStyle";

nav{
    font-family: $main_font;
    background-color: $primary_color;
    z-index: 1000;
}

.nav-item:hover{
    color: $hovering_color;
}

.nav-item:active{
    color: $hovering_color;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

#selectedLink{
    color: $main_button_color;
    width: fit-content;
}

@media screen and (min-width: 320px) {
    nav img{
        width: 80% !important;
    }

    .intouchLink{
        color: $main_button_color;
    }
    
}

@media screen and (min-width: 768px) {
    nav img{
        width: 100% !important;
    }

    .intouchLink{
        border-bottom: 2px solid $main_button_color;
        color: $main_text_color2;
    }

}

