$primary_color:#2e2e2e;
$main_button_color: #4285f4;
$main_text_color1: #000000;
$main_text_color2: #ffffff;
$main_text_color3: #696969;
$main_font: 'Roboto';
$hovering_color: #3d6fc2;
$images_width: 100%;

body{
    font-family: $main_font;
}

button:focus{
    outline: 0;
}

@media screen and (min-width: 320px) {
    .desktop{
        display: none;
    }

    .mobile{
        display: block;
    }
}

@media screen and (min-width: 768px) {
    .desktop{
        display: block;
    }

    .mobile{
        display: none;
    }
}