$primary_color:#2e2e2e;
$main_text_color2: #ffffff;
$main_font: 'Roboto';
$hovering_color: #3d6fc2;

nav{
    font-family: $main_font;
    background-color: $primary_color;
}

.nav-item{
    color: $main_text_color2;
}

.nav-item:hover{
    color: $hovering_color;
}

.nav-item:active{
    color: $hovering_color;
}
