@import "mainStyle";

.ourServices, .developmentService{
    background-color: $primary_color;
    color: $main_text_color2;

}

.ourServices span{
    color: $main_text_color2;
    font-size: 2.5rem;
    border-bottom: 3px solid $main_button_color;
    border-width: thick;
    padding-bottom: 0.5rem;
    // width: fit-content;
}

.ourServices .row{
    padding-top: 3rem;
}

.ourServices img{
    // width: 50%;
}

.ourServices p{
    padding-left: 1rem;
    border-left: 3px solid $main_button_color;
    border-width: thick;
    margin-top: 1rem;
}

.companyProfile h1{
    color: $main_text_color2;
}

.ourProducts span, .technologies span, .developmentService span{
    font-size: 2.5rem;
    border-bottom: 3px solid $main_button_color;
    border-width: thick;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
    // width: fit-content;
}

.developmentService .row{
    padding-top: 3rem;
}